@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
h1{
    margin: 0px;
}
p{
    margin: 0px;
}

#lamp1 {
  width: 800px;
  height: min(900px, calc(100vh - 250px)); /* Constrain height to viewport */
  position: absolute;
  left: -600px;
  top: 300px;
  background: radial-gradient(
    ellipse at center,
    #fff8dc 0%,       /* light cream base */
    #dddddd 25%,      /* more yellow */
    #858585 45%,      /* deeper warm yellow */
    #545454 55%,      /* light soft pink */
    #242424 55%,
    #000000 100%      /* fade to black */
  );
  opacity: 0.7;
  filter: blur(85px);
  z-index: -1;
  pointer-events: none;
}

#lamp2 {
  width: 800px;
  height: min(900px, calc(100vh - 250px)); /* Constrain height to viewport */
  position: absolute;
  right: -600px; /* mirror of left */
  top: 300px;
  background: radial-gradient(
    ellipse at center,
    #fff8dc 0%,       /* light cream base */
    #dddddd 25%,      /* more yellow */
    #858585 45%,      /* deeper warm yellow */
    #545454 55%,      /* light soft pink */
    #242424 55%,
    #000000 100%      /* fade to black */
  );
  opacity: 0.7;
  filter: blur(85px);
  z-index: -1;
  pointer-events: none;
}